<!DOCTYPE html>
<html lang="en">
 <head>
   <title>TeamName2 Project</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

  <body>
    <div class="container mt-4">
      <a href="/profile/profileLanding?userId=<%= userId%>" class="btn btn-primary position-relative">Profile</a>
    </div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">Checklist</h1>
        </div>
        <div id="accordian">
          <% data.forEach(item => {%>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="mx-4">
                  <h4 id=<%= item.checkListId%>><%= item.names%></h4>
                </div>
                <div class="mx-4">
                  <a href="/tasks/landing?userId=<%= userId%>&checklistId=<%= item.checkListId%>" class="btn btn-primary">See Tasks</a>
                </div>
                <div class="mx-4">
                  <a href="/checklist/deleteChecklist?method=DELETE&checklistId=<%= item.checkListId%>" class="btn btn-primary">Delete</a>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <form action="/checklist/createChecklist" method="POST">
            <label for="newChecklist">Create New Checklist</label>
            <input type="text" class="form-control col-lg-9" placeholder="Enter Checklist Name" name="newChecklist">
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>