<!DOCTYPE html>
<html lang="en">
 <head>
   <title>TeamName2 Project</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>

 <body>
  <div class="container mt-4">
    <a href="/groups/landing?userId=<%= userId%>" class="btn btn-primary position-relative">Back</a>
  </div>
  
  <div class="container mt-4">
    <h1 class="text-center"><%= groupName%></h1>
  </div>

  <div class="container mt-4">
    <div class="card">
      <div class="class-body">
        <div class = "row">
          <div class="col-sm">
            <button id="avgCompRateBtn" class="btn btn-primary mx-2">Refresh</button>
            <h4 class="mx-2">Average Completion Rate:</h4>
          </div>
          <h4 id="avgCompRate" class="col-sm mx-2"></h4>
        </div>
        <div class="row">
          <div class="col-sm">
            <button id="mostProdDayBtn" class="btn btn-primary mx-2">Refresh</button>
            <h4 class="mx-2">Most Productive Day:</h4>
          </div>
          <h4 id="mostProdDay" class="col-sm mx-2"></h4> 
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Members</h1>
      </div>
      <div id="accordian">
        <% data.forEach(item => {%>
          <div class="card m-2">
            <div class="card-body">
              <div class="row">
                <div class="col-sm">
                  <h4><%= item.names%></h4>
                </div>
                <div class="col-sm">
                  <div class="row">
                    <a href="/restrictedTasks/landing?userId=<%= userId%>&friendId=<%= item.userId%>&groupId=<%= groupId%>&groupName=<%= groupName%>" 
                      class="btn btn-primary col-sm mx-2">See Tasks</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }) %>
      </div>
    </div>
  </div>
</body>
<script src="/js/groupViewScript.js"></script>
</html>